<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TestUsersSuite" allow-return-values="true">
	<test thread-count="1" name="returnvalTest" >
		<classes>
			<class name="com.simpletests.Tests_testng">
				<methods>
					<include name="listUser" />
			<!--		<include name="listUsers" />
					<include name="UserNotFound" />
					<include name="UserNotFound2" />
					<include name="loginUnsuccessful1" />
					<include name="loginUnsuccessful2" />
					<include name="delayResponse" /> -->
				</methods>
			</class>
		</classes>

	</test> <!-- Test -->
</suite> <!-- Suite -->